/*--------- HEADER ----------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #232558;
    z-index: 100;
}

i:hover {
    color: aqua;
    transition: 1s;
}

/* ------------------------ */

.hl {
    background-color: #ffc600;
}

li {
    list-style: none;
}

label {
    margin: 5% 0 2% 0;
}

input.busqueda {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

input.busqueda:focus-visible {
    outline: none;
}

input.busqueda:focus {
    border: 5px solid rgba(37, 150, 190, 0.5);
}

ul.sugerencias {
    padding: 0;
    text-align: center;
}

li.coincidencia {
    border: 1px solid #80808054;
    border-radius: 5px;
    padding: 5px;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px 2px #ccc;
}

span.name {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    display: flex;
}
