/*--------- HEADER ----------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #232558;
    z-index: 100;
}

i:hover {
    color: aqua;
    transition: 1s;
}

/* ------------------------ */

.hl {
    background-color: #ffc600;
}

li {
    list-style: none;
}

label {
    margin: 5% 0 2% 0;
}

input.busqueda {
    width: 500px;
    height: 40px;
    border-radius: 10px;
}

ul.sugerencias {
    padding: 0;
    text-align: center;
}
