/*--------- HEADER ----------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #232558;
    z-index: 100;
}

i:hover {
    color: aqua;
    transition: 1s;
}

/* ------------------------ */

html {
    box-sizing: border-box;
    background: #ccc;
}

body {
    font-family: "helvetica neue";
    margin: 0;
    font-size: 20px;
    font-weight: 200;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: visible;
    display: flex;
}
