/*--------- HEADER ----------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #232558;
    z-index: 100;
}

i:hover {
    color: aqua;
    transition: 1s;
}

/* ------------------------ */

html {
    box-sizing: border-box;
    background: #ccc;
}

body {
    font-family: "helvetica neue";
    margin: 0;
    font-size: 20px;
    font-weight: 200;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: visible;
    display: flex;
}

.panel {
    background: #6B4F9C;
    box-shadow: inset 0 0 0 5px;
    color: white;
    text-align: center;
    align-items: center;
    /*Safari nombra los eventos de otra manera*/
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    font-size: 30px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.panel1 {
    background-image: url("http://drive.google.com/uc?export=view&id=14V_L-8enfyX5uD1iAFxzfawftVaI7TTS");
}

.panel2 {
    background-image: url("http://drive.google.com/uc?export=view&id=1A27zfO4o2r9lAtSlf6SsmNdDX1f3avMQ");
}

.panel3 {
    background-image: url("http://drive.google.com/uc?export=view&id=1F_xlibUuHeUMUPgwr04A9oWC3vVQhLv4");
}

.panel4 {
    background-image: url("http://drive.google.com/uc?export=view&id=1PnAMYjVZ0p62lrJlpQ__o5sCPBdgNGSI");
}
