/*--------- HEADER ----------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #232558;
    z-index: 100;
}
i:hover {
    color: aqua;
    transition: 1s;
}
/* ------------------------ */

.img-inventors {
    width: 150px;
    height: 150px;
}

button.btn.btn-primary {
    margin: 5px;
}


